/* @import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Varela+Round&display=swap");

:root {
  --color: blue;
}
.test {
  border: solid;
  background-color: red;
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    margin-top: -100vw;
  }
  to {
    transform: translateY(0);
    margin-top: 0vw;
  }
}
@keyframes slideOutToTop {
  to {
    transform: translateY(-200%);
    opacity: 0;

    margin-top: -100vw;
  }
}

/*Basics*/ /********************************************************************************************************************/
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  font-size: 4vw;
}
.App {
  display: flex;
  flex-direction: column;
  transition: all 1s;
}
h1,
h3,
h4,
p {
  /* font-family: "Righteous", cursive; */
  margin: 0;
  padding: 0.5em;
}
svg {
  width: 2rem;
  padding-top: 0.2rem;
}
hr {
  /* height: 0.5px; */
  border: solid 0.5px var(--color);
}
.alert {
  color: red;
}
.mainTitle {
  font-size: 8.5vw;
  text-align: center;
}
.button {
  border: solid 3px var(--color);
  border-radius: 10px;
}
.capitalize {
  text-transform: capitalize;
}
strong {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

/* Navbar.jsx */ /**************************************************************************/
.slideOutToTop {
  animation: slideOutToTop 0.5s ease-out;
}
.logOut {
  align-self: center;
  width: 100%;
  margin-top: 3vw;
  padding-top: 0.3rem;
}

.homeButton:hover {
  border: solid;
  border-width: 1px;
}
.homeButton {
  color: blue;
  border: none;
  position: sticky;
  top: 0.5rem;
  background-color: white;
}

/* .exitButton:hover {
  align-self: center;
  padding-top: 0.2rem;
  background-color: rgb(161, 39, 39);
  border: solid;
  color: white;
  background-color: rgb(251, 166, 149);
  width: 2rem;
  border-radius: 5px;
} */
.exitButton i {
  width: 1rem;
  padding-top: 0.2rem;
}
a {
  text-decoration: none;
}
.sticked {
  position: sticky;
  top: 0.5rem;
  transition: all 3s;
}
.buttonContainer {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.back_to_top_container {
  color: rgba(0, 0, 0, 0.434);
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border-radius: 50px;
  transition-duration: 0.5s;
}
.back_to_top_container:hover {
  box-shadow: 0 4px 8px var(--color);
  color: var(--color);
}
#Nav {
  position: relative;
  width: 100%;
  background-color: white;
}
.showTransition {
  width: fit-content;
  animation: slideInFromTop 0.5s ease-out;
  transition: all 1s;
}
.notShow {
  position: relative;
  top: 0.5rem;
  animation: slideOutToTop 1s ease-out;
}
.navInt {
  /* height: 10rem; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.navbar2 {
  justify-self: center;
  /* height: 8.5rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  background-color: White;
}
.navbar3 {
  /* height: 8.5rem; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.navspan {
  transition: all 0.5s;
  margin: 0.1rem;
  align-self: center;
}
.navspan a {
  white-space: nowrap;
  font-size: 1.5rem;
  color: black;
  padding: 0.3rem;
}
.navspan:hover {
  border-bottom: solid 1px var(--color);
  box-shadow: 2px 2px 5px var(--color);
}
.navspan a.active {
  border-bottom: solid 1px var(--color);
  box-shadow: 2px 2px 5px var(--color);
}

/* Home.jsx */ /**************************************************************************/

#Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 12.5rem;
  font-size: 1.5rem;
}
.flex {
  transition: all 1s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.text {
  font-size: 4vw;
}
.header {
  /* background-image: linear-gradient(to right, var(--color), #ffff9390); */
  margin: -2vw;
  justify-content: center;
}
/*NewFun.jsx*/ /*************************************************************************/

.flexForm {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
}
.CreateFunDiv {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.inputs input,
textarea {
  transition: all 1s;
  border: none;
  border-bottom: solid 0.5px var(--color);
}
.inputs input:focus,
textarea:focus {
  border-color: var(--color);
  box-shadow: 2px 2px 5px var(--color);
  outline: none;
}
.inputs {
  width: 90%;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs label {
  text-align: center;
  /* background-image: linear-gradient(to right, var(--color), #f2f27b); */
  margin: 2vw;
}

.row {
  /* background-color: lightgreen; */
  width: 80vw;
  flex-direction: row;
}
.row label {
  margin: 2vw;
}

/*Spinner*/ /****************************************************************************************/

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

/* PublicFuns.jsx*/ /***************************************************************************************/
.funContainer {
  align-content: center;
  display: flex;
  flex-direction: column;
}
.funCard img {
  width: 100%;
  border-radius: 10px;
}
.publicTitle {
  color: var(--color);
  font-size: 1.2em;
  justify-self: center;
}
.funCard {
  box-shadow: 2px 2px 5px var(--color);
  padding: 2vw;
  margin: 2vw;
  border-radius: 10px;
}

/*MyProfile*/ /***********************************************************************************/

.profileContainer {
  display: flex;
  flex-direction: column;
}
.profileContainer h3 {
  align-self: center;
}

/*Messages*/ /*******************************************************************************************/
.note {
  font-size: 0.8em;
  color: blue;
}

/*Media Queries*/ /********************************************************************************************************************/
@media (min-width: 400px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 3.5vw;
  }
}
@media (min-width: 600px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 3vw;
  }
  .navspan a {
    white-space: nowrap;
    font-size: 1.3rem;
    color: black;
    padding: 0.3rem;
  }
}
@media (min-width: 800px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 2.5vw;
  }
  .navspan a {
    white-space: nowrap;
    font-size: 1.2rem;
    color: black;
    padding: 0.3rem;
  }
}
@media (min-width: 1000px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 1.8vw;
  }
  .navInt {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .navspan a {
    white-space: nowrap;
    font-size: 1rem;
    color: black;
    padding: 0.5rem;
    margin: 0.3rem;
  }
}
@media (min-width: 1300px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 1.4vw;
  }
  .navspan a {
    white-space: nowrap;
    font-size: 1.5rem;
    color: black;
    padding: 0.5rem;
    margin: 0.3rem;
  }
}
@media (min-width: 1500px) {
  /* Estilos para pantallas con un ancho máximo de 600px */
  * {
    font-size: 1.2vw;
  }
  .navspan a {
    white-space: nowrap;
    font-size: 1.3rem;
    color: black;
    padding: 0.7rem;
    margin: 0.5rem;
  }
}
